body {
  text-align: center;
  background-color: black;
  justify-content: center;
}

h1 {
  font-size: 50px;
  color: wheat;
}

p {
  color: wheat;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}

.cards {
  padding: 10px;
  border: solid wheat 5px;
  width: 220px;
  text-align: center;
}

.alert {
  width: 100%;
}

.danger {
  background-color: rgb(255 124 124);
  color: red;
  border: solid 1px red;
  padding: 20px;
  transition: 2s;
}

a {
  display: block;
  background-color: wheat;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-align: center;
}

#contact {
  display: inline-block;
  width: 200px;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: underline;
}
